.total-borders {
    border: 2px solid black;
}

.container-flex-between {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin-bottom: 2em;
}

.borders-curves {
    border: 2px solid black;
    border-radius: 50%;
    padding: 0.4em;
}