body {
    margin: 1rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    padding: 0.2rem 1rem;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

img {
    width: 3rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5em;
}

figcaption {
    text-align: center;
}

header section {
    margin: 2rem 0rem;
}

header section nav {
    padding: 0;
    align-self: flex-end;
}


header section nav a {
    padding: 0.2em 1em;
}

header section nav a:not(:last-child) {
    border-right: 2px solid black;
}

main article:first-child {
    padding: 2em;
}

main article section h4 {
    margin-bottom: 1em;
}

main article section ul li p {
    display: inline;
}

main article section ul li h5 {
    margin-top: 1em;
}

aside {
    flex-grow: 1;
    height: 100%;
}

aside section h5 {
    padding: 0.5em;
    margin-bottom: 2em;
}