.total-borders {
    border: 2px solid black;
}

.container-flex-between {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    height: 55%;
}

.container-flex-between-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25em;
}

.borders-curves {
    border: 2px solid black;
    border-radius: 50%;
    padding: 0.4em;
}

.height-article {
    height: 25rem;
    margin-bottom: 2em;
}

.padding-last-section {
    padding: 1em;
}

.flex-grow-section {
    flex-grow: 1;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5em;
    gap: 2em;
    grid-row-gap: 0.5em;
    margin-bottom: 2rem;
}

.end-align {
    align-self: flex-end;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.padding-sections {
    padding: 1em;
}