#principal-header {
    margin: 1rem 0rem 2rem 0rem;
}

#welcome {
    flex-grow: 4;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#position-absolut-p {
    position: absolute;
    top: 3px;
    left: 3px;
}

#container-social-media {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

#align-section-center {
    align-self: center;
}

#date-section {
    align-content: center;
    text-align: center;
}

#footer-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2em;
    margin-bottom: 4rem;
}

#box-name-footer {
    border: 2px solid black;
    border-radius: 0.5em;
    height: 10em;
    text-align: center;
    align-content: center;
    padding: 1em;
}

#footer-section-small {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#title-margin-bootom {
    margin-bottom: 1em;
}

#container-aside {
    height: 100%;
}

#container-title-aside {
    display: flex;
}

#title-aside {
    width: 80%;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

#box-aside {
    height: 90.5%;
}